.text-field {
	background:#E0E0E0;
	border:1px solid #3D3D3D;
}

.text-field:hover, :focus {
	background:#95E495;
	border:1px solid #3D3D3D;
}

.select-list-form {
	background:#E0E0E0;
	width: 125px;
	font-weight:bold;
	border:2px solid #3D3D3D;
}

.select-list-form:hover {
	background:#95E495;
	font-weight:bold;
	color:#EB7500;
	width: 125px;
	border:2px solid #3D3D3D;
}

.select-list-form:active {
	background:#fff;
	font-weight:bold;
	color:#EB7500;
	width: 125px;
	border:2px solid #3D3D3D;
}

.buttom-form {
	background:#E0E0E0;
	width: 125px;
	border:2px solid #3D3D3D;
}

.buttom-form:hover {
	background:#95E495;
	font-weight:bold;
	color:#EB7500;
	width: 125px;
	border:2px solid #3D3D3D;
}
